/* IMPOSTAZIONI GENERALI */

html            {font-size: 62,5%;}
header h1       {font-size: 2rem;}
section         {font-size: 1.1rem;}
section h2      {font-size: 1.2em;}
footer          {font-size: 1rem;}   
footer address  {font-size: 0.8em;} 

body{
    
    font-family: 'Raleway', sans-serif;
   
}
 /* HEADER */
header{
    background-color: darkcyan;
    padding: 50px;
    text-align: center;
    
    }

   #hr-head{
        color: #027794;
        border: 5px solid;
        padding: 1px;
        margin-top: 0px;
        border-top-width: thick;
        background-color: #027794;
        border-style: solid;
        margin-left: 0px;
        margin-right: 0px
    }


 h1 {
     color: white;
     text-transform: uppercase;
     line-height: 150%;
     padding: 20px;
     
     
     
    }
    header h2{
        color: black;
        font-weight: bold;
        margin-bottom: 1.4em;
        font-size: 1.4em;
        font-family: 'Raleway', sans-serif;
        font-variant: small-caps;
        
    }
 
 span{
     background-color: white;
     color: turquoise;
     font-weight: bold;
     text-transform: uppercase;
     
     
    }
/* MAIN */
main{
    font-family: Arial, Helvetica, sans-serif;
}
main h2{
    font-size: 2em;
    color: #027794;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
figcaption{
    padding: 10px;
}

b{
    color: black;
    font-weight: bold;
}

main section div h2{
    color: darkcyan;
    font-weight: bolder;
    margin-top: 10px;
}
figure figcaption{
    font-weight: bold;
}

a{
   color: red;
}

address{
    margin-bottom: 35px;
}
 #su-di-me{
       font-weight: bold;
       margin-bottom: 20px;
   }

#presentazione{
    margin-top: 20px;
    margin-bottom: 30px ;
    padding: 10px;
}


    blockquote{
       border-radius: 10px;
       background-color: rgb(142, 170, 187);
       text-align: center;
       padding: 20px;
       padding-bottom: 40px;
       width: auto;
       font-style: italic;
       margin: 20px;
       }

       div p{
           line-height: 30px;
           margin: 25px;
           }
    strong{
        color: #027794;
    }
       



#immag{
    border: 1px solid gray;
    padding: 6px;
}
figure{
    text-align: center;
}
    
h3{
    font-family: "Raleway", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin: 25px;
}

ul{
  margin-left: 50px  ;
  padding: 20px;
  line-height: 30px;
}

/* ELEMENTI NEL MAIN */
strong{
    color: blue;
    font-weight: bold;
}
section mark{
    color: rgb(246, 246, 252);
    background-color: #2a08e7;
}
hr{
   border-top: 1px dashed;
   margin: 50px;
}
a[href^="https"]
colgroup :where
dt{
    margin: 20px;
}
dd{
    margin-left: 40px;
}
/* FOOTER */

    footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(27, 24, 24);
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    
    }
    kbd{
        color: yellow;
        font-style: oblique;
        font-weight: bolder;
    }
    footer a{
        display: block;
        margin: 10px;
        margin-bottom: 20px;
    }
    #hr-closed{
        margin: 20px;
        border: 0px solid transparent;
    }
    
