/* IMPOSTAZIONI GENERALI */
html {font-size: 62,5%;}
header h1 {font-size: 2rem;}
section {font-size: 1.1rem;}
section h2{ font-size: 1.2em;}
footer {font-size: 1rem;}
footer address {font-size: 0.8em;}
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Poppins:wght@200;300&family=Raleway:wght@100&display=swap');

/* font-family: 'Architects Daughter', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;*/

 
body{
   background-image: url(../img/sfondo.png);
   background-position: top left 1200px;
   background-position: top 1200px;

}

/* HEADER */
header{
width: 250px;
height: 200px;
text-align: center;
font-weight: bolder;
background-color: #0d58a1;
color: white;
box-shadow: 3px 2px 3px black;
margin-left: 100px;

}
header a{
    font-weight: border;
    color: white;
    width: auto;
    height: auto;
    margin-top: 50px;
    
}

/* MAIN */
main{
border-radius: 0px ;
background-color: white;
text-align: center;
width: auto;
margin: 20px ;
padding: 20px;
border: inset;
border-color: thistle;




}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
